# Used by: make clang-tidy (reads this file automatically)
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-switch-missing-default-case,
  performance-*,
  portability-*
WarningsAsErrors: "*"
FormatStyle: file
